
/* Header */

.header {
    margin-top: 28px;
    font-family: 'Public Sans', sans-serif;
}


.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 34px;
}

.nav__list {
    display: flex;
}

.nav__item:hover > a{
    color: #152427;
}



.header__active > a::after {
    content: "";
    position: absolute;
    left: 19px;
    bottom: -32px;
    display: inline-block;
    width: 16px;
    height: 2px;
    background: #152427;
}

.nav__item > a {
    
    padding: 4px 19px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575D5E;
}

.header__active > a {
    position: relative;
    color: #152427;
}

.nav__item > a::after {
   
}

.header__line {
    margin-top: 13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #FFFFFF 0%, #DDDCDC 51.09%, rgba(213, 213, 213, 0) 99.68%);
}

/* Hero */

.hero {
    margin-top: 60px;
    font-family: 'Public Sans', sans-serif;
}

.hero__main-content {
    position: relative;
    display: flex;
    align-items: center;

}

.hero__content {
    width: 40%;
    flex-shrink: 0;
}

.hero__title {
    width: 82%;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;   
}

.hero__sub-title {
    width: 82%;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575D5E;
}

.hero__button {
    margin-top: 42px;
    display: flex;
    gap: 43px;
}

.icon-watch {
    
    display: flex;
    align-items: center;
    /* gap: 15px; */
}


.watch-icon {
    width: 44px;
    height: 44px;
    background: #83A17D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid #143C3C;
    outline-offset: 3px;
    cursor: pointer;
}

.watch-text {
    margin-left: 15px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427; 
}

.hero__img {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: end;
    background: rgb(150,223,203);
    background: radial-gradient(circle, rgba(150,223,203,1) 0%, rgba(255,255,255,1) 50%);


}

.hero__img img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img img:nth-child(2) {
    margin-top: 117px;
}

.hero__pattern img {
    position: absolute;
}

.hero__pattern img:first-child {
    top: -44px;
    left: 27%;
}

.hero__pattern img:last-child {
    right: 1%;
    bottom: -8px;
}

.hero__pattern img:nth-child(2) {
    top: -32px;
    left: 24%;

}

.hero__pattern img:nth-child(3) {
 bottom: -44px;
 right: 4%;
}

/* link-logo */

.link {
    margin-top: 90px;
}

.link__main-content {
    width: 100%;
    padding:10px 0;
    min-height: 201px;
    background: #E2EDDF;
    border-radius: 100.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

/* Services */

.services {
    margin-top: 106px;
    font-family: 'Poppins', sans-serif;
}

.service__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__title {
    max-width: 520px;
    margin-top: 12px;
}

.service__icon {
    display: flex;
    gap: 17px;
    margin-right: 73px;
}

.list-services {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 16px;
}

.service__item {
    /* width: 400px;
    max-width: 100%; */
    padding-bottom: 23px;
}

.service__item:hover {
    background: #FFFFFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 20px;
    transition: 0.25s;
}

.service__item__content {
    padding-left: 18px;
}

.service__img img {
    
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.service--small-title {
    --line-clamp: 1;

    margin-top: 24px;
}

.service__item-desc {
    --line-clamp: 3;
    width: 268px;
    margin-top: 14px;
}

/* About */ 

.about {
    margin-top: 50px;
    padding: 100px 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 2%, rgba(150,223,203,1) 33%, rgba(255,255,255,1) 57%);

}

.about__main-content {
    display: flex;
    gap: 64px;
    min-height: 570px;
}

.about__image {
    flex: 1;
    display: flex;
    gap: 21px;
    margin-right: -20px;
    position: relative;
}

.about__image > img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}

.about__image > img:first-child {
    align-self: flex-end;
}

.about__content {
    margin-left: 20px;
    flex: 1;
}

.about__title {
    margin-top: 20px;

}

.about__title::after {
    display: none;
}

.about__desc {
    --line-clamp: 3;
    margin-top: 11px;
    font-size: 1.6rem;
    line-height: 1.62;
}

.about__data {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 20px 0;
    border-bottom: 1px solid #83A17D;
}

.data__number {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}


.about__pattern {
    position: absolute;
}

.about__pattern img {
    position: absolute;
}

.about__pattern img:last-child {
    top: 10px;
    left: -36px;
}

/* about-mini */

.about__mini-content {
    font-family: 'Public Sans', sans-serif;
    position: absolute;
    right: 0;
    bottom: 0;
    /* min-width: 100px;
    min-height: 100px; */
    background: #FFFFFF;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    padding: 19px;
}

.mini-title {
    font-weight: 600;
    font-size:  1.4rem;
    line-height: 1;
    color: #152427;       
}

.mini-desc {
    margin-top: 6px;
    font-size: 1rem;
    line-height: 1.4;
    color: #575D5E;
}

.mini-number {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;   
}

.mini-line {
    width: 100%;
    height: 2px;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    background: #EAEAEA;
    border-radius: 10px;
}

.mini-line-change {
    width: 40%;
    height: 2px;
    background: #83A17D;
    border-radius: 10px;
}

.text-loading {
    display: block;
    text-align: right;
    margin-top: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;  
}

.mini__icon-circle {
    margin-top: 3px;
    width: 5px;
    height: 5px;
    background: #143C3C;
    border: 3px solid #EAEAEA;
    border-radius: 50%;
}

.mini__teams {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-text {
    font-weight: 500;
    font-size: 1rem;
    color: #152427;
}

.team-avatar {
    display: flex;
}

.team-avatar > img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: -6px;
}

.team-avatar > img:first-child{
    margin-left: 0;
}

/* Process */

.process {
    margin-top: 50px;
}

.process__title {
    max-width: 477px;
    margin-top: 20px;
}

.process__list {
    margin-top: 81px;
}

.process_item {
    display: flex;
    align-items: center;
    height: 185px;
    border-bottom: 1px solid #83A17D;
    padding: 0 30px;
    position: relative;
}

.process_item:hover {
    background: #E2EDDF;
    border-radius: 33px;
    border: none;
    transition: 0.25s;
}

.process-number {
    width: 17%;
    font-weight: 600;
    font-size: 7.2rem;
    line-height: 0.72;
    color: #143C3C;
}

.process__head {
    width: 30%;
    position: relative; 
}

.process_item >img{
    position: absolute;
    bottom: 0;
    right: 70px;
}

.process__title--small {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}

.link-learn-more {
    display: inline-block;
    position: absolute;
    top: auto;
    left: auto;
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1;
    color: #575D5E;
    
}

.link-learn-more:hover {
    text-decoration: underline;
}

.process__sub-title {
    width: 572px;
    max-width: 100%;
    font-size: 1.8rem;
}

/* Feature */

.feature {
    margin-top: 146px;
    padding: 116px 0 63px;
    background: #143C3C;
}


.feature__main-content {
}

.feature__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature__title {
    width: 457px;
    max-width: 100%;
    color: #fff;
}

.feature__title::after {
    background: #83A17D;;
}

.feature-link {
    width: 572px;
    max-width: 100%;
}

.feature__sub-title {
    margin-top: 8px;
    color: #6A8383;
    line-height: 1.56;
    font-size: 1.8rem;
}

.feature__link {
    margin-top: 13px;
    display: flex;
    gap: 26px;
    align-items: center;
}

.feature__link a {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration: #999 underline;
    color: #6A8383;
}

.feature__link a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.feature__video {
    margin-top: 65px;
    border-radius: 22px;
    /* background: #000; */
    position: relative;
}

.feature__video > img:first-child {
    height: 544px;
    width: 100%;
    object-fit: cover;
    border-radius: 22px;
}

.play-icon-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 118px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
}

.play-icon-video:hover {
    opacity: 0.9;
    transition: 0.25s;
}

.pattern-bg img {
    position: absolute;
    
}

.pattern-bg img:first-child {
    top: -50px;
    right: -100px;
}

.pattern-bg img:last-child {
    top: 100px;
    right: -70px;
}

/* Feature2 */

.feature2 {
    margin-top: 100px;
    padding: 40px 0;
}

.feature2__head {
    width: 547px;
    max-width: 100%;
    margin: 0 auto;
}

.feature2__title {
    text-align: center;
}

.feature2__title::after {
    display: none;
}

.feature2__sub-title {
    margin-top: 20px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7D8188;
}

.feature2__list {
    margin-top: 44px;
    min-height: 421px;
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
}

.feature2__item {
    padding: 0 30px;
    display: flex;
    height: 362px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #CECECE;
    border-radius: 160px;
    background: #FFFFFF;
}

.feature2__item:first-child,.feature2__item:last-child {
    align-self: end;
}

.feature2__item:hover {
    border: none;
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
    transition: 0.25s;
}

.feature2__title-small {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #152427;
}

.feature2__sub-title {
    margin-top: 9px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7D8188;
}

/* Blog */

.blog {
    margin-top: 100px;
    padding: 44px 0;
}

.blog__head-title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blog__title {
    width: 550px;
    max-width: 100%;
}

.blog__desc {
    width: 409px;
    max-width: 100%;
    font-size: 1.6rem;
}

.blog__list {
    margin-top: 90px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));   
}

.blog__item {
    padding-bottom: 12px;
}

.blog__item:hover {
    background: #FFFFFF;
    box-shadow: 0px 12px 74px rgba(91, 91, 91, 0.25);
    border-radius: 40px 40px 20px 20px;
}

.blog__img {
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
}

.blog__items-content {
    margin-top: 26px;
    min-height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog__item:hover .blog__items-content {
    padding: 0 30px;
    transition: 0.1s;
}

.blog__btn {
    --height: 26px;
    background: #E2EDDF;
    border-radius: 20px; 
    min-width: 107px;
    color: #000;
    font-size: 1rem;
}

.blog__btn:hover {
    background: #143C3C;
    color: #fff;
    transition: 0.25s;
}

.blog__question {
    --line-clamp: 3;
    margin-top: 13px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #143C3C;
}

.blog__line {
    /* margin-top: 38px; */
    width: 100%;
    height: 1px;
    background: #C4C4C4;
}

.blog__date {
    margin-top: 16px;
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #575D5E; 
}





